**Records for test matches**

In [110]:
import pandas as pd
import numpy as np 
import matplotlib as plt

In [111]:
df_matches = pd.read_csv("matches.csv",  sep=';')

In [112]:
print("\nInformación del DataFrame:")
df_matches.info()

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  69 non-null     object
 1   Span    69 non-null     object
 2   Mat     69 non-null     int64
 3   Inns    69 non-null     int64
 4   NO      69 non-null     int64
 5   Runs    69 non-null     int64
 6   HS      69 non-null     object
 7   Ave     69 non-null     int64
 8   BF      66 non-null     object
 9   SR      66 non-null     float64
 10  100     69 non-null     int64
 11  50      69 non-null     int64
 12  0       69 non-null     int64
 13  4s      69 non-null     int64
 14  6s      69 non-null     int64
dtypes: float64(1), int64(10), object(4)
memory usage: 8.2+ KB

In [113]:
df_matches

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,9994,9800+,5860.0,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,6215,1287,9176.0,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,6187,2667,5568.0,5,4,2,186,5
3,AC Voges (AUS),2015-2016,20,31,7,1485,269*,6187,2667,5568.0,5,4,2,186,5
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,6097,1707+,5448.0,7,11,1,246,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,KD Walters (AUS),1965-1981,74,125,14,5357,250,4826,8662+,4916.0,15,33,4,525,23
65,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,4825,15525,5967.0,27,38,11,1165,24
66,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,4822,3118+,4477.0,7,6,1,119,0
67,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,4821,3217+,6002.0,6,13,4,241,5
68,DR Jardine (ENG),1928-1934,22,33,6,1296,127,4800,2110+,2559.0,1,10,2,53,0

**Changing columns names**

In [114]:
df_matches=df_matches.rename(columns = {'Mat':'Matches','NO': 'Not_Outs', 'HS': 'Highest_Inns_Score','BF':'Balls_Faced', 'SR':'Batting_Strike_Rate'})

In [115]:
df_matches.head()

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,9994,9800+,5860.0,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,6215,1287,9176.0,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,6187,2667,5568.0,5,4,2,186,5
3,AC Voges (AUS),2015-2016,20,31,7,1485,269*,6187,2667,5568.0,5,4,2,186,5
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,6097,1707+,5448.0,7,11,1,246,11

**Checking null values**

In [116]:
df_matches.isnull().any()

Player                 False
Span                   False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced             True
Batting_Strike_Rate     True
100                    False
50                     False
0                      False
4s                     False
6s                     False
dtype: bool

In [117]:
df_matches[df_matches['Balls_Faced'].isna()==1]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
10,ED Weekes (WI),1948-1958,48,81,5,4455,207,5861,NaN,NaN,15,19,6,258,2
16,CL Walcott (WI),1948-1960,44,74,7,3798,220,5668,NaN,NaN,15,14,1,107,11
61,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,4879,NaN,NaN,5,6,3,51,0

In [118]:
df_matches['Balls_Faced']=df_matches['Balls_Faced'].fillna(0)

In [119]:
df_matches['Batting_Strike_Rate']=df_matches['Batting_Strike_Rate'].fillna(0)

In [120]:
df_matches[df_matches['Player']== 'ED Weekes (WI)']

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
10,ED Weekes (WI),1948-1958,48,81,5,4455,207,5861,0,0.0,15,19,6,258,2

**Drop duplicates**

In [121]:
df_matches.duplicated()

0     False
1     False
2     False
3      True
4     False
      ...
64    False
65    False
66    False
67    False
68    False
Length: 69, dtype: bool

In [122]:
df_matches[df_matches['Player'].duplicated()==1]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
3,AC Voges (AUS),2015-2016,20,31,7,1485,269*,6187,2667,5568.0,5,4,2,186,5
7,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,6073,6558+,3459.0,16,23,2,202,6
20,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,5500,178+,2921.0,3,6,2,37,2
26,AD Nourse (SA),1935-1951,34,62,7,2960,231,5381,108+,6388.0,9,14,3,115,6
31,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,5231,31258,4251.0,36,63,8,1654,21
41,SR Waugh (AUS),1985-2004,168,260,46,10927,200,5106,22461,4864.0,32,50,22,1175,20
60,B Mitchell (SA),1929-1949,42,80,9,3471,189*,4888,158+,2911.0,8,21,3,41,1

In [123]:
df_matches[df_matches['Player'].isin(['AC Voges (AUS)','H Sutcliffe (ENG)','GE Tyldesley (ENG)','AD Nourse (SA)','R Dravid (ICC/IND)','SR Waugh (AUS)','B Mitchell (SA)'])]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,6187,2667,5568.0,5,4,2,186,5
3,AC Voges (AUS),2015-2016,20,31,7,1485,269*,6187,2667,5568.0,5,4,2,186,5
6,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,6073,6558+,3459.0,16,23,2,202,6
7,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,6073,6558+,3459.0,16,23,2,202,6
19,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,5500,178+,2921.0,3,6,2,37,2
20,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,5500,178+,2921.0,3,6,2,37,2
25,AD Nourse (SA),1935-1951,34,62,7,2960,231,5381,108+,6388.0,9,14,3,115,6
26,AD Nourse (SA),1935-1951,34,62,7,2960,231,5381,108+,6388.0,9,14,3,115,6
30,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,5231,31258,4251.0,36,63,8,1654,21
31,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,5231,31258,4251.0,36,63,8,1654,21
40,SR Waugh (AUS),1985-2004,168,260,46,10927,200,5106,22461,4864.0,32,50,22,1175,20
41,SR Waugh (AUS),1985-2004,168,260,46,10927,200,5106,22461,4864.0,32,50,22,1175,20
59,B Mitchell (SA),1929-1949,42,80,9,3471,189*,4888,158+,2911.0,8,21,3,41,1
60,B Mitchell (SA),1929-1949,42,80,9,3471,189*,4888,158+,2911.0,8,21,3,41,1

In [124]:
df_matches = df_matches.drop_duplicates()

In [125]:
df_matches[df_matches['Player'].isin(['AC Voges (AUS)','H Sutcliffe (ENG)','GE Tyldesley (ENG)','AD Nourse (SA)','R Dravid (ICC/IND)','SR Waugh (AUS)','B Mitchell (SA)'])]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,6187,2667,5568.0,5,4,2,186,5
6,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,6073,6558+,3459.0,16,23,2,202,6
19,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,5500,178+,2921.0,3,6,2,37,2
25,AD Nourse (SA),1935-1951,34,62,7,2960,231,5381,108+,6388.0,9,14,3,115,6
30,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,5231,31258,4251.0,36,63,8,1654,21
40,SR Waugh (AUS),1985-2004,168,260,46,10927,200,5106,22461,4864.0,32,50,22,1175,20
59,B Mitchell (SA),1929-1949,42,80,9,3471,189*,4888,158+,2911.0,8,21,3,41,1

**Split up Span into start and end date**

In [126]:
df_matches['Span'].str.split(pat='-')

0     [1928, 1948]
1     [2022, 2023]
2     [2015, 2016]
4     [1963, 1970]
5     [1930, 1954]
          ...
64    [1965, 1981]
65    [2002, 2014]
66    [1924, 1934]
67    [1930, 1938]
68    [1928, 1934]
Name: Span, Length: 62, dtype: object

In [127]:
df_matches['Span'].str.split(pat='-').str[1]

0     1948
1     2023
2     2016
4     1970
5     1954
      ...
64    1981
65    2014
66    1934
67    1938
68    1934
Name: Span, Length: 62, dtype: object

In [128]:
df_matches['Rookie_Year'] = df_matches['Span'].str.split(pat = '-').str[0]

In [129]:
df_matches['Final_Year'] = df_matches['Span'].str.split(pat = '-').str[1]

In [130]:
df_matches.head()

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,9994,9800+,5860.0,29,13,7,626,6,1928,1948
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,6215,1287,9176.0,4,7,1,141,23,2022,2023
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,6187,2667,5568.0,5,4,2,186,5,2015,2016
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,6097,1707+,5448.0,7,11,1,246,11,1963,1970
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,6083,416+,5600.0,10,5,2,104,1,1930,1954

In [131]:
df_matches=df_matches.drop(['Span'],axis = 1)

In [132]:
df_matches.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),52,80,10,6996,334,9994,9800+,5860.0,29,13,7,626,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,6215,1287,9176.0,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269*,6187,2667,5568.0,5,4,2,186,5,2015,2016
4,RG Pollock (SA),23,41,4,2256,274,6097,1707+,5448.0,7,11,1,246,11,1963,1970
5,GA Headley (WI),22,40,4,2190,270*,6083,416+,5600.0,10,5,2,104,1,1930,1954

**Question: How to split up the country code from the player?**

In [133]:
df_matches['Player'].str.split(pat='(')

0      [DG Bradman , AUS)]
1        [HC Brook , ENG)]
2        [AC Voges , AUS)]
4       [RG Pollock , SA)]
5       [GA Headley , WI)]
              ...
64     [KD Walters , AUS)]
65    [GC Smith , ICC/SA)]
66    [WH Ponsford , AUS)]
67      [SJ McCabe , AUS)]
68     [DR Jardine , ENG)]
Name: Player, Length: 62, dtype: object

In [134]:
df_matches['Country'] = df_matches['Player'].str.split(pat='(').str[1]

In [135]:
df_matches['Country'] = df_matches['Country'].str.split(pat=')').str[0]

In [136]:
df_matches['Country']

0        AUS
1        ENG
2        AUS
4         SA
5         WI
       ...
64       AUS
65    ICC/SA
66       AUS
67       AUS
68       ENG
Name: Country, Length: 62, dtype: object

In [137]:
df_matches['Player'] = df_matches['Player'].str.split(pat='(').str[0]

In [138]:
df_matches.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,9994,9800+,5860.0,29,13,7,626,6,1928,1948,AUS
1,HC Brook,12,20,1,1181,186,6215,1287,9176.0,4,7,1,141,23,2022,2023,ENG
2,AC Voges,20,31,7,1485,269*,6187,2667,5568.0,5,4,2,186,5,2015,2016,AUS
4,RG Pollock,23,41,4,2256,274,6097,1707+,5448.0,7,11,1,246,11,1963,1970,SA
5,GA Headley,22,40,4,2190,270*,6083,416+,5600.0,10,5,2,104,1,1930,1954,WI

**Changing Datatypes**

In [139]:
df_matches.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score      object
Ave                      int64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Rookie_Year             object
Final_Year              object
Country                 object
dtype: object

In [142]:
df_matches['Highest_Inns_Score'].str.split(pat='*').str[0]

0     334
1     186
2     269
4     274
5     270
     ...
64    250
65    277
66    266
67    232
68    127
Name: Highest_Inns_Score, Length: 62, dtype: object

In [143]:
df_matches['Highest_Inns_Score']= df_matches['Highest_Inns_Score'].str.split(pat='*').str[0]

In [144]:
df_matches['Highest_Inns_Score']

0     334
1     186
2     269
4     274
5     270
     ...
64    250
65    277
66    266
67    232
68    127
Name: Highest_Inns_Score, Length: 62, dtype: object

Change datatype of Highest inns score: from object to int

In [152]:
df_matches['Highest_Inns_Score'] = df_matches['Highest_Inns_Score'].astype('int')

In [153]:
df_matches.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score       int32
Ave                      int64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Rookie_Year             object
Final_Year              object
Country                 object
dtype: object

Fixing Rookie Year and Final Year

In [160]:
df_matches = df_matches.astype({'Rookie_Year':'int','Final_Year':'int'})

In [161]:
df_matches.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score       int32
Ave                      int64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Rookie_Year              int32
Final_Year               int32
Country                 object
dtype: object

In [162]:
df_matches.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,9994,9800+,5860.0,29,13,7,626,6,1928,1948,AUS
1,HC Brook,12,20,1,1181,186,6215,1287,9176.0,4,7,1,141,23,2022,2023,ENG
2,AC Voges,20,31,7,1485,269,6187,2667,5568.0,5,4,2,186,5,2015,2016,AUS
4,RG Pollock,23,41,4,2256,274,6097,1707+,5448.0,7,11,1,246,11,1963,1970,SA
5,GA Headley,22,40,4,2190,270,6083,416+,5600.0,10,5,2,104,1,1930,1954,WI

In [164]:
df_matches.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score       int32
Ave                      int64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Rookie_Year              int32
Final_Year               int32
Country                 object
dtype: object

In [165]:
df_matches['Balls_Faced']= df_matches['Balls_Faced'].str.split(pat='+').str[0]

In [168]:
pd.set_option('display.max_rows', None)

In [169]:
df_matches

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,9994,9800,5860.0,29,13,7,626,6,1928,1948,AUS
1,HC Brook,12,20,1,1181,186,6215,1287,9176.0,4,7,1,141,23,2022,2023,ENG
2,AC Voges,20,31,7,1485,269,6187,2667,5568.0,5,4,2,186,5,2015,2016,AUS
4,RG Pollock,23,41,4,2256,274,6097,1707,5448.0,7,11,1,246,11,1963,1970,SA
5,GA Headley,22,40,4,2190,270,6083,416,5600.0,10,5,2,104,1,1930,1954,WI
6,H Sutcliffe,54,84,9,4555,194,6073,6558,3459.0,16,23,2,202,6,1924,1935,ENG
8,E Paynter,20,31,5,1540,243,5923,1288,4588.0,4,7,3,125,4,1931,1939,ENG
9,KF Barrington,82,131,15,6806,256,5867,4957,4242.0,20,35,5,591,27,1955,1968,ENG
10,ED Weekes,48,81,5,4455,207,5861,NaN,0.0,15,19,6,258,2,1948,1958,WI
11,WR Hammond,85,140,16,7249,336,5845,7491,3807.0,22,24,4,419,27,1927,1947,ENG
12,GS Sobers,93,160,21,8032,365,5778,4063,5358.0,26,30,12,593,32,1954,1974,WI
13,KC Sangakkara,134,233,17,12400,319,5740,22882,5419.0,38,52,11,1491,51,2000,2015,SL
14,SPD Smith,109,195,25,9685,239,5697,18100,5350.0,32,41,10,1063,54,2010,2024,AUS
15,JB Hobbs,61,102,7,5410,211,5694,5363,4622.0,15,28,4,276,8,1908,1930,ENG
16,CL Walcott,44,74,7,3798,220,5668,NaN,0.0,15,14,1,107,11,1948,1960,WI
17,L Hutton,79,138,15,6971,364,5667,2844,3934.0,19,33,5,358,7,1937,1955,ENG
18,JH Kallis,166,280,40,13289,224,5537,28903,4597.0,45,58,16,1488,97,1995,2013,ICC/SA
19,GE Tyldesley,14,20,2,990,122,5500,178,2921.0,3,6,2,37,2,1921,1929,ENG
21,KS Williamson,100,176,17,8743,251,5498,17006,5141.0,32,34,11,971,24,2010,2024,NZ
22,CA Davis,15,29,5,1301,183,5420,665,3548.0,4,4,1,65,1,1968,1973,WI
23,VG Kambli,17,21,1,1084,227,5420,1823,5946.0,4,3,3,124,6,1993,1995,IND
24,GS Chappell,87,151,19,7110,247,5386,13079,5153.0,24,31,12,755,16,1970,1984,AUS
25,AD Nourse,34,62,7,2960,231,5381,108,6388.0,9,14,3,115,6,1935,1951,SA
27,SR Tendulkar,200,329,33,15921,248,5378,29437,5404.0,51,68,14,2058,69,1989,2013,IND
28,BC Lara,131,232,6,11953,400,5288,19753,6051.0,34,48,17,1559,88,1990,2006,ICC/WI
29,Javed Miandad,124,189,21,8832,280,5257,15164,4599.0,23,43,6,788,48,1976,1993,PAK
30,R Dravid,164,286,32,13288,270,5231,31258,4251.0,36,63,8,1654,21,1996,2012,ICC/IND
32,Mohammad Yousuf,90,156,12,7530,223,5229,14372,5239.0,24,33,11,957,51,1998,2010,PAK
33,Younis Khan,118,213,19,10099,313,5205,19375,5212.0,34,33,19,1082,70,2000,2017,PAK
34,RT Ponting,168,287,29,13378,257,5185,22782,5872.0,41,62,17,1509,73,1995,2012,AUS
35,J Ryder,20,32,5,1394,201,5162,2035,4486.0,3,9,1,102,3,1920,1929,AUS
36,A Flower,63,112,19,4794,232,5154,10636,4507.0,12,27,5,543,20,1992,2002,ZIM
37,MEK Hussey,79,137,16,6235,195,5152,12436,5013.0,19,29,12,685,39,2005,2013,AUS
38,S Chanderpaul,164,280,49,11867,203,5137,27395,4331.0,30,66,15,1285,36,1994,2015,WI
39,SM Gavaskar,125,214,16,10122,236,5112,14184,4335.0,34,45,12,908,26,1971,1987,IND
40,SR Waugh,168,260,46,10927,200,5106,22461,4864.0,32,50,22,1175,20,1985,2004,AUS
42,ML Hayden,103,184,14,8625,380,5073,14349,6010.0,30,29,14,1049,82,1994,2009,AUS
43,AB de Villiers,114,191,18,8765,278,5066,16077,5451.0,22,46,8,1024,64,2004,2018,SA
44,AR Border,156,265,44,11174,205,5056,27002,4109.0,27,63,11,1161,28,1978,1994,AUS
45,DJ Mitchell,23,37,5,1608,190,5025,3014,5335.0,5,10,1,158,29,2019,2024,NZ
46,IVA Richards,121,182,12,8540,291,5023,9613,6977.0,24,45,10,952,84,1974,1991,WI
47,DCS Compton,78,131,15,5807,278,5006,2731,3881.0,17,28,10,342,3,1937,1957,ENG
48,DPMD Jayawardene,149,252,15,11814,374,4984,22959,5145.0,34,50,15,1387,61,1997,2014,SL
49,JE Root,140,257,21,11736,254,4972,20762,5652.0,31,61,12,1280,44,2012,2024,ENG
50,Inzamam-ul-Haq,120,200,22,8830,329,4960,16345,5402.0,25,46,15,1105,48,1992,2007,ICC/PAK
51,M Labuschagne,50,90,7,4114,215,4956,7809,5268.0,11,20,4,463,12,2018,2024,AUS
52,FMM Worrell,51,87,9,3860,261,4948,488,4016.0,9,22,11,240,11,1948,1963,WI
53,CP Mead,17,26,2,1185,182,4937,619,3004.0,4,3,3,38,0,1911,1928,ENG
54,V Sehwag,104,180,6,8586,319,4934,10441,8223.0,23,32,16,1233,91,2001,2013,ICC/IND
55,Abid Ali,16,26,2,1180,215,4916,2445,4826.0,4,3,2,148,5,2019,2021,PAK
56,V Kohli,113,191,11,8848,254,4915,15924,5556.0,29,30,14,991,26,2011,2024,IND
57,MJ Clarke,115,198,22,8643,329,4910,15456,5592.0,28,27,9,978,39,2004,2015,AUS
58,KC Bland,21,39,5,1669,144,4908,885,3774.0,3,9,2,123,20,1961,1966,SA
59,B Mitchell,42,80,9,3471,189,4888,158,2911.0,8,21,3,41,1,1929,1949,SA
61,Hon.FS Jackson,20,33,4,1415,144,4879,NaN,0.0,5,6,3,51,0,1893,1905,ENG
62,TT Samaraweera,81,132,20,5462,231,4876,11641,4692.0,14,30,11,633,7,2001,2013,SL
63,RN Harvey,79,137,10,6149,205,4841,1799,4374.0,21,24,7,427,1,1948,1963,AUS
64,KD Walters,74,125,14,5357,250,4826,8662,4916.0,15,33,4,525,23,1965,1981,AUS
65,GC Smith,117,205,13,9265,277,4825,15525,5967.0,27,38,11,1165,24,2002,2014,ICC/SA
66,WH Ponsford,29,48,4,2122,266,4822,3118,4477.0,7,6,1,119,0,1924,1934,AUS
67,SJ McCabe,39,62,5,2748,232,4821,3217,6002.0,6,13,4,241,5,1930,1938,AUS
68,DR Jardine,22,33,6,1296,127,4800,2110,2559.0,1,10,2,53,0,1928,1934,ENG

In [170]:
df_matches=df_matches.drop(61,axis=0)

In [176]:
df_matches=df_matches.drop(10,axis=0)

In [177]:
df_matches

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,9994,9800,5860.0,29,13,7,626,6,1928,1948,AUS
1,HC Brook,12,20,1,1181,186,6215,1287,9176.0,4,7,1,141,23,2022,2023,ENG
2,AC Voges,20,31,7,1485,269,6187,2667,5568.0,5,4,2,186,5,2015,2016,AUS
4,RG Pollock,23,41,4,2256,274,6097,1707,5448.0,7,11,1,246,11,1963,1970,SA
5,GA Headley,22,40,4,2190,270,6083,416,5600.0,10,5,2,104,1,1930,1954,WI
6,H Sutcliffe,54,84,9,4555,194,6073,6558,3459.0,16,23,2,202,6,1924,1935,ENG
8,E Paynter,20,31,5,1540,243,5923,1288,4588.0,4,7,3,125,4,1931,1939,ENG
9,KF Barrington,82,131,15,6806,256,5867,4957,4242.0,20,35,5,591,27,1955,1968,ENG
11,WR Hammond,85,140,16,7249,336,5845,7491,3807.0,22,24,4,419,27,1927,1947,ENG
12,GS Sobers,93,160,21,8032,365,5778,4063,5358.0,26,30,12,593,32,1954,1974,WI
13,KC Sangakkara,134,233,17,12400,319,5740,22882,5419.0,38,52,11,1491,51,2000,2015,SL
14,SPD Smith,109,195,25,9685,239,5697,18100,5350.0,32,41,10,1063,54,2010,2024,AUS
15,JB Hobbs,61,102,7,5410,211,5694,5363,4622.0,15,28,4,276,8,1908,1930,ENG
17,L Hutton,79,138,15,6971,364,5667,2844,3934.0,19,33,5,358,7,1937,1955,ENG
18,JH Kallis,166,280,40,13289,224,5537,28903,4597.0,45,58,16,1488,97,1995,2013,ICC/SA
19,GE Tyldesley,14,20,2,990,122,5500,178,2921.0,3,6,2,37,2,1921,1929,ENG
21,KS Williamson,100,176,17,8743,251,5498,17006,5141.0,32,34,11,971,24,2010,2024,NZ
22,CA Davis,15,29,5,1301,183,5420,665,3548.0,4,4,1,65,1,1968,1973,WI
23,VG Kambli,17,21,1,1084,227,5420,1823,5946.0,4,3,3,124,6,1993,1995,IND
24,GS Chappell,87,151,19,7110,247,5386,13079,5153.0,24,31,12,755,16,1970,1984,AUS
25,AD Nourse,34,62,7,2960,231,5381,108,6388.0,9,14,3,115,6,1935,1951,SA
27,SR Tendulkar,200,329,33,15921,248,5378,29437,5404.0,51,68,14,2058,69,1989,2013,IND
28,BC Lara,131,232,6,11953,400,5288,19753,6051.0,34,48,17,1559,88,1990,2006,ICC/WI
29,Javed Miandad,124,189,21,8832,280,5257,15164,4599.0,23,43,6,788,48,1976,1993,PAK
30,R Dravid,164,286,32,13288,270,5231,31258,4251.0,36,63,8,1654,21,1996,2012,ICC/IND
32,Mohammad Yousuf,90,156,12,7530,223,5229,14372,5239.0,24,33,11,957,51,1998,2010,PAK
33,Younis Khan,118,213,19,10099,313,5205,19375,5212.0,34,33,19,1082,70,2000,2017,PAK
34,RT Ponting,168,287,29,13378,257,5185,22782,5872.0,41,62,17,1509,73,1995,2012,AUS
35,J Ryder,20,32,5,1394,201,5162,2035,4486.0,3,9,1,102,3,1920,1929,AUS
36,A Flower,63,112,19,4794,232,5154,10636,4507.0,12,27,5,543,20,1992,2002,ZIM
37,MEK Hussey,79,137,16,6235,195,5152,12436,5013.0,19,29,12,685,39,2005,2013,AUS
38,S Chanderpaul,164,280,49,11867,203,5137,27395,4331.0,30,66,15,1285,36,1994,2015,WI
39,SM Gavaskar,125,214,16,10122,236,5112,14184,4335.0,34,45,12,908,26,1971,1987,IND
40,SR Waugh,168,260,46,10927,200,5106,22461,4864.0,32,50,22,1175,20,1985,2004,AUS
42,ML Hayden,103,184,14,8625,380,5073,14349,6010.0,30,29,14,1049,82,1994,2009,AUS
43,AB de Villiers,114,191,18,8765,278,5066,16077,5451.0,22,46,8,1024,64,2004,2018,SA
44,AR Border,156,265,44,11174,205,5056,27002,4109.0,27,63,11,1161,28,1978,1994,AUS
45,DJ Mitchell,23,37,5,1608,190,5025,3014,5335.0,5,10,1,158,29,2019,2024,NZ
46,IVA Richards,121,182,12,8540,291,5023,9613,6977.0,24,45,10,952,84,1974,1991,WI
47,DCS Compton,78,131,15,5807,278,5006,2731,3881.0,17,28,10,342,3,1937,1957,ENG
48,DPMD Jayawardene,149,252,15,11814,374,4984,22959,5145.0,34,50,15,1387,61,1997,2014,SL
49,JE Root,140,257,21,11736,254,4972,20762,5652.0,31,61,12,1280,44,2012,2024,ENG
50,Inzamam-ul-Haq,120,200,22,8830,329,4960,16345,5402.0,25,46,15,1105,48,1992,2007,ICC/PAK
51,M Labuschagne,50,90,7,4114,215,4956,7809,5268.0,11,20,4,463,12,2018,2024,AUS
52,FMM Worrell,51,87,9,3860,261,4948,488,4016.0,9,22,11,240,11,1948,1963,WI
53,CP Mead,17,26,2,1185,182,4937,619,3004.0,4,3,3,38,0,1911,1928,ENG
54,V Sehwag,104,180,6,8586,319,4934,10441,8223.0,23,32,16,1233,91,2001,2013,ICC/IND
55,Abid Ali,16,26,2,1180,215,4916,2445,4826.0,4,3,2,148,5,2019,2021,PAK
56,V Kohli,113,191,11,8848,254,4915,15924,5556.0,29,30,14,991,26,2011,2024,IND
57,MJ Clarke,115,198,22,8643,329,4910,15456,5592.0,28,27,9,978,39,2004,2015,AUS
58,KC Bland,21,39,5,1669,144,4908,885,3774.0,3,9,2,123,20,1961,1966,SA
59,B Mitchell,42,80,9,3471,189,4888,158,2911.0,8,21,3,41,1,1929,1949,SA
62,TT Samaraweera,81,132,20,5462,231,4876,11641,4692.0,14,30,11,633,7,2001,2013,SL
63,RN Harvey,79,137,10,6149,205,4841,1799,4374.0,21,24,7,427,1,1948,1963,AUS
64,KD Walters,74,125,14,5357,250,4826,8662,4916.0,15,33,4,525,23,1965,1981,AUS
65,GC Smith,117,205,13,9265,277,4825,15525,5967.0,27,38,11,1165,24,2002,2014,ICC/SA
66,WH Ponsford,29,48,4,2122,266,4822,3118,4477.0,7,6,1,119,0,1924,1934,AUS
67,SJ McCabe,39,62,5,2748,232,4821,3217,6002.0,6,13,4,241,5,1930,1938,AUS
68,DR Jardine,22,33,6,1296,127,4800,2110,2559.0,1,10,2,53,0,1928,1934,ENG

In [178]:
df_matches.isnull().any()

Player                 False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced            False
Batting_Strike_Rate    False
100                    False
50                     False
0                      False
4s                     False
6s                     False
Rookie_Year            False
Final_Year             False
Country                False
dtype: bool

In [179]:
df_matches.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score       int32
Ave                      int64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Rookie_Year              int32
Final_Year               int32
Country                 object
dtype: object

In [180]:
df_matches['Balls_Faced'] = df_matches['Balls_Faced'].astype('int')

In [181]:
df_matches.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score       int32
Ave                      int64
Balls_Faced              int32
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Rookie_Year              int32
Final_Year               int32
Country                 object
dtype: object

Question: Build out Career_lenght column

In [182]:
df_matches['career_lenght'] = df_matches['Final_Year'] - df_matches['Rookie_Year']

In [183]:
df_matches

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country,career_lenght
0,DG Bradman,52,80,10,6996,334,9994,9800,5860.0,29,13,7,626,6,1928,1948,AUS,20
1,HC Brook,12,20,1,1181,186,6215,1287,9176.0,4,7,1,141,23,2022,2023,ENG,1
2,AC Voges,20,31,7,1485,269,6187,2667,5568.0,5,4,2,186,5,2015,2016,AUS,1
4,RG Pollock,23,41,4,2256,274,6097,1707,5448.0,7,11,1,246,11,1963,1970,SA,7
5,GA Headley,22,40,4,2190,270,6083,416,5600.0,10,5,2,104,1,1930,1954,WI,24
6,H Sutcliffe,54,84,9,4555,194,6073,6558,3459.0,16,23,2,202,6,1924,1935,ENG,11
8,E Paynter,20,31,5,1540,243,5923,1288,4588.0,4,7,3,125,4,1931,1939,ENG,8
9,KF Barrington,82,131,15,6806,256,5867,4957,4242.0,20,35,5,591,27,1955,1968,ENG,13
11,WR Hammond,85,140,16,7249,336,5845,7491,3807.0,22,24,4,419,27,1927,1947,ENG,20
12,GS Sobers,93,160,21,8032,365,5778,4063,5358.0,26,30,12,593,32,1954,1974,WI,20
13,KC Sangakkara,134,233,17,12400,319,5740,22882,5419.0,38,52,11,1491,51,2000,2015,SL,15
14,SPD Smith,109,195,25,9685,239,5697,18100,5350.0,32,41,10,1063,54,2010,2024,AUS,14
15,JB Hobbs,61,102,7,5410,211,5694,5363,4622.0,15,28,4,276,8,1908,1930,ENG,22
17,L Hutton,79,138,15,6971,364,5667,2844,3934.0,19,33,5,358,7,1937,1955,ENG,18
18,JH Kallis,166,280,40,13289,224,5537,28903,4597.0,45,58,16,1488,97,1995,2013,ICC/SA,18
19,GE Tyldesley,14,20,2,990,122,5500,178,2921.0,3,6,2,37,2,1921,1929,ENG,8
21,KS Williamson,100,176,17,8743,251,5498,17006,5141.0,32,34,11,971,24,2010,2024,NZ,14
22,CA Davis,15,29,5,1301,183,5420,665,3548.0,4,4,1,65,1,1968,1973,WI,5
23,VG Kambli,17,21,1,1084,227,5420,1823,5946.0,4,3,3,124,6,1993,1995,IND,2
24,GS Chappell,87,151,19,7110,247,5386,13079,5153.0,24,31,12,755,16,1970,1984,AUS,14
25,AD Nourse,34,62,7,2960,231,5381,108,6388.0,9,14,3,115,6,1935,1951,SA,16
27,SR Tendulkar,200,329,33,15921,248,5378,29437,5404.0,51,68,14,2058,69,1989,2013,IND,24
28,BC Lara,131,232,6,11953,400,5288,19753,6051.0,34,48,17,1559,88,1990,2006,ICC/WI,16
29,Javed Miandad,124,189,21,8832,280,5257,15164,4599.0,23,43,6,788,48,1976,1993,PAK,17
30,R Dravid,164,286,32,13288,270,5231,31258,4251.0,36,63,8,1654,21,1996,2012,ICC/IND,16
32,Mohammad Yousuf,90,156,12,7530,223,5229,14372,5239.0,24,33,11,957,51,1998,2010,PAK,12
33,Younis Khan,118,213,19,10099,313,5205,19375,5212.0,34,33,19,1082,70,2000,2017,PAK,17
34,RT Ponting,168,287,29,13378,257,5185,22782,5872.0,41,62,17,1509,73,1995,2012,AUS,17
35,J Ryder,20,32,5,1394,201,5162,2035,4486.0,3,9,1,102,3,1920,1929,AUS,9
36,A Flower,63,112,19,4794,232,5154,10636,4507.0,12,27,5,543,20,1992,2002,ZIM,10
37,MEK Hussey,79,137,16,6235,195,5152,12436,5013.0,19,29,12,685,39,2005,2013,AUS,8
38,S Chanderpaul,164,280,49,11867,203,5137,27395,4331.0,30,66,15,1285,36,1994,2015,WI,21
39,SM Gavaskar,125,214,16,10122,236,5112,14184,4335.0,34,45,12,908,26,1971,1987,IND,16
40,SR Waugh,168,260,46,10927,200,5106,22461,4864.0,32,50,22,1175,20,1985,2004,AUS,19
42,ML Hayden,103,184,14,8625,380,5073,14349,6010.0,30,29,14,1049,82,1994,2009,AUS,15
43,AB de Villiers,114,191,18,8765,278,5066,16077,5451.0,22,46,8,1024,64,2004,2018,SA,14
44,AR Border,156,265,44,11174,205,5056,27002,4109.0,27,63,11,1161,28,1978,1994,AUS,16
45,DJ Mitchell,23,37,5,1608,190,5025,3014,5335.0,5,10,1,158,29,2019,2024,NZ,5
46,IVA Richards,121,182,12,8540,291,5023,9613,6977.0,24,45,10,952,84,1974,1991,WI,17
47,DCS Compton,78,131,15,5807,278,5006,2731,3881.0,17,28,10,342,3,1937,1957,ENG,20
48,DPMD Jayawardene,149,252,15,11814,374,4984,22959,5145.0,34,50,15,1387,61,1997,2014,SL,17
49,JE Root,140,257,21,11736,254,4972,20762,5652.0,31,61,12,1280,44,2012,2024,ENG,12
50,Inzamam-ul-Haq,120,200,22,8830,329,4960,16345,5402.0,25,46,15,1105,48,1992,2007,ICC/PAK,15
51,M Labuschagne,50,90,7,4114,215,4956,7809,5268.0,11,20,4,463,12,2018,2024,AUS,6
52,FMM Worrell,51,87,9,3860,261,4948,488,4016.0,9,22,11,240,11,1948,1963,WI,15
53,CP Mead,17,26,2,1185,182,4937,619,3004.0,4,3,3,38,0,1911,1928,ENG,17
54,V Sehwag,104,180,6,8586,319,4934,10441,8223.0,23,32,16,1233,91,2001,2013,ICC/IND,12
55,Abid Ali,16,26,2,1180,215,4916,2445,4826.0,4,3,2,148,5,2019,2021,PAK,2
56,V Kohli,113,191,11,8848,254,4915,15924,5556.0,29,30,14,991,26,2011,2024,IND,13
57,MJ Clarke,115,198,22,8643,329,4910,15456,5592.0,28,27,9,978,39,2004,2015,AUS,11
58,KC Bland,21,39,5,1669,144,4908,885,3774.0,3,9,2,123,20,1961,1966,SA,5
59,B Mitchell,42,80,9,3471,189,4888,158,2911.0,8,21,3,41,1,1929,1949,SA,20
62,TT Samaraweera,81,132,20,5462,231,4876,11641,4692.0,14,30,11,633,7,2001,2013,SL,12
63,RN Harvey,79,137,10,6149,205,4841,1799,4374.0,21,24,7,427,1,1948,1963,AUS,15
64,KD Walters,74,125,14,5357,250,4826,8662,4916.0,15,33,4,525,23,1965,1981,AUS,16
65,GC Smith,117,205,13,9265,277,4825,15525,5967.0,27,38,11,1165,24,2002,2014,ICC/SA,12
66,WH Ponsford,29,48,4,2122,266,4822,3118,4477.0,7,6,1,119,0,1924,1934,AUS,10
67,SJ McCabe,39,62,5,2748,232,4821,3217,6002.0,6,13,4,241,5,1930,1938,AUS,8
68,DR Jardine,22,33,6,1296,127,4800,2110,2559.0,1,10,2,53,0,1928,1934,ENG,6

**Avarage career length**

In [184]:
df_matches['career_lenght'].mean()

13.288135593220339

**Avarage Batting_Strike_Rate for cricketers who played over 10 years**

In [186]:
df_matches[df_matches['career_lenght']> 10]['Batting_Strike_Rate']

0     5860.0
5     5600.0
6     3459.0
9     4242.0
11    3807.0
12    5358.0
13    5419.0
14    5350.0
15    4622.0
17    3934.0
18    4597.0
21    5141.0
24    5153.0
25    6388.0
27    5404.0
28    6051.0
29    4599.0
30    4251.0
32    5239.0
33    5212.0
34    5872.0
38    4331.0
39    4335.0
40    4864.0
42    6010.0
43    5451.0
44    4109.0
46    6977.0
47    3881.0
48    5145.0
49    5652.0
50    5402.0
52    4016.0
53    3004.0
54    8223.0
56    5556.0
57    5592.0
59    2911.0
62    4692.0
63    4374.0
64    4916.0
65    5967.0
Name: Batting_Strike_Rate, dtype: float64

**Question: Find number of cricketers who played before 1960**

In [188]:
df_matches[df_matches['Rookie_Year']<1960]['Player'].count()

20

**Question: Max Highest Inns Score by country**

In [189]:
df_matches.groupby('Country')['Highest_Inns_Score'].max()

Country
AUS        380
ENG        364
ICC/IND    319
ICC/PAK    329
ICC/SA     277
ICC/WI     400
IND        254
NZ         251
PAK        313
SA         278
SL         374
WI         365
ZIM        232
Name: Highest_Inns_Score, dtype: int32

In [190]:
df_matches.groupby('Country')['Highest_Inns_Score'].max().to_frame('Highinncountry').reset_index().sort_values('Highinncountry', ascending = False)

    Country  Highinncountry
5    ICC/WI             400
0       AUS             380
10       SL             374
11       WI             365
1       ENG             364
3   ICC/PAK             329
2   ICC/IND             319
8       PAK             313
9        SA             278
4    ICC/SA             277
6       IND             254
7        NZ             251
12      ZIM             232

**Question: 5 Hundreds, Fifties, ducks(0) AVG by Country**

In [191]:
df_matches.groupby('Country')[['100','50','0']].mean()

               100         50          0
Country
AUS      20.625000  28.375000   8.562500
ENG      13.000000  22.083333   4.416667
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      29.500000  36.500000  10.750000
NZ       18.500000  22.000000   6.000000
PAK      21.250000  28.000000   9.500000
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       17.166667  28.666667   8.500000
ZIM      12.000000  27.000000   5.000000